.box{
    align:"center";
    color: rgb(252, 252, 252);
    background-color: rgb(59, 4, 27);
}
#box1{
    text-align: center;
    color: darksalmon;
    font-size: 75px;
}
#box2{
    text-align: center;
    color: rgb(251, 243, 152);
    font-size: 50px;
}
#box3{
    text-align: center;
    color: tomato;
    font-size: 25px;
}