h1{
    color: palevioletred;
    background-color: blue;
    text-align: center;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: orange;
    background-color: aqua;
    text-align: left;
    text-transform: lowercase;
    line-height: 40px;
}